.dx-treelist-text-content {
  text-align: left;
}

/* If ID is number it will align to right side and then you open the item you can not see left margin for nested items */
.dx-treelist
.dx-icon-add {
  display: none;
}

//.dx-treelist-container .dx-treelist-header-panel .dx-toolbar{
//  margin-bottom: 0px;
//}

.dx-treelist-table

.dx-treelist-headers
.dx-treelist-table
.dx-row > td {
  text-align: center;
}



